!!!
%html
  %head
    %title Front page
    %script(src="http://use.edgefonts.net/poiret-one.js")
    %link(rel="stylesheet" href="css/styles.css")
    - if @email
      %meta{ name: "currentUser", content: @email }
  %body
    #page
      = partial :header
      #content= yield

    %script(src="http://code.jquery.com/jquery-1.8.2.min.js")
    %script(src="https://login.persona.org/include.js")
    %script(src="js/main.js")
